name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    environment: "Production EC2"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker Image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/WeatherForecastServiceBase.API.BFF/Dockerfile
        push: true
        tags: ${{ vars.IMAGE_TAG_BACKEND}}
        platforms: linux/amd64,linux/arm64

    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
        DB_CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      run: |
        echo "$PRIVATE_KEY" > github-ec2.pem
        chmod 600 github-ec2.pem

        ssh -T -o StrictHostKeyChecking=no -i github-ec2.pem ${USER}@${HOST} << EOF
          set -e

          sudo docker pull joaoaugustomv/weather-monitor-backend

          sudo docker stop wam-back || true
          sudo docker rm wam-back || true

          sudo docker run -d \
            --name wam-back \
            -p 80:8080 \
            -e ConnectionStrings__Default="${DB_CONNECTION_STRING}" \
            joaoaugustomv/weather-monitor-backend

          echo "Deployment completed."
        EOF