name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Deploy to EC2
      env:
        PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
        CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
      run: |
        echo "Oi"
        echo "$PRIVATE_KEY" > github-ec2.pem && chmod 600 github-ec2.pem
        ssh -o StrictHostKeyChecking=no -i github-ec2.pem ${USER}@${HOST} '
        echo "Current directory: $(pwd)"
        echo "Listing home directory:"
        ls -la ~
        
        docker pull joaoaugustomv/weather-monitor-backend

        docker stop wam-back

        docker run --name "wam-back" -d -p 80:8080 -e ConnectionStrings__Default=$CONNECTION_STRING joaoaugustomv/weather-monitor-backend:1.1
        '